#mt {
    padding: 30px;
    border: 1px solid rebeccapurple ;
    width: 40%;
    height: 20%;
    font-size: 35px;
    margin: auto;
    text-align: center;
    background-color: black;
    text-shadow: -1px -1px white,1px 1px white,0px 0px 10px white;
    font-family:fantasy;
    border-radius: 20px;
    
}

.b1, .b2{
    margin: 20px;
    /* align-items: center; */
    text-align: center;
}

.b2{
    
}